
*
{
    padding:0;
    margin:0;
    
}
#container
{
    display: flex;
}

#dashbord
{
    box-sizing:boder-box;
    height:100vh;
    width:20%;
    background-color:black;
}
h1
{
    text-align:center;
    color:white;
    padding:5px;
    text-transform:capitalize;
    background-color:#393232;
    box-shadow:0px 0px 1px 1px #bebba1;
    
}

ul
{
    margin-top:40px;
    background-color:#262639
}
li
{
   list-style-type:none;
    margin:10px;
    margin-left:20px;
    
    
}
a{
    text-decoration:none;
    padding:5px;
    color:#ebc9c9;
    text-transform:capitalize;
    font-size:24px;
    
    

}
li:hover
{
    background-color:#424247;
    border-bottom: 2px solid silver;
}
h1:hover
{
    background-color:#716b6b;
}
#main1
{
    width:100%;
    border:2px solid gray;
    background-color:#c0b8b830;
    
    
}
#p1
{
    float:right;
    padding:10px;
    box-shadow:1px 0px 3px 3px #9e8186;
    margin-right:10px;
    margin-top:5px;
    border-radius:5px;
    text-transform:capitalize;
    background-color:white;
    
    
}

@media (max-width:400px){
    #dashbord{
        display: none;
    }
    
}
.header
{
    background-color:#ccb9c0;
    height:50px;
}
#pcon
{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.poster
{
    padding:10px;
    height:70px;
    
    margin-top:50px;
    line-height:35px;
    width:300px;
    background-color:white;
    border-radius:5px;
    box-shadow:1px 1px 3px 3px silver;
}
h3
{
    text-transform:capitalize;
    font-size:20px;
}
.poster >p
{
    color:#666161b3;
    text-transform:capitalize;
}
#logotype
{
    margin:30px;
    display:flex;
    justify-content:space-between;
}
#logotype p
{
    text-transform:capitalize;
    color:#323030;
    text-shadow:1px 1px 22px #27b3b3;
    font-size:20px;
}
#logotype button
{
    padding:10px;
    border-radius:10px;
    border:none;
    background-color:#3232c8;
    color:white;
    text-transform:capitalize;
    box-shadow:0px 0px 2px 3px #485dd5;
    cursor:pointer;
}

table
{
    width:100%;
}
 table td {
            width: 33.33%;  /* 3 columns hain, har column ka width 33.33% */
            height: 50%;    /* 2 rows hain, har row ka height 50% */
            border-bottom: 1px solid #ccc7c7; /* Border dikhane ke liye */
            text-align: center;
            vertical-align: middle;  
              text-transform:capitalize;
              padding:10px;
        }
 table th {
            width: 33.33%;  /* 3 columns hain, har column ka width 33.33% */
            height: 50%;    /* 2 rows hain, har row ka height 50% */
            border-bottom: 1px solid #ccc7c7; /* Border dikhane ke liye */
            text-align: center;
            vertical-align: middle;  
              text-transform:capitalize;
               padding:20px;
 
 
 }
 .activies
{
    margin:30px;
    
    display:flex;
    justify-content:space-around;
    width:100px;
    overflow-x:scroll;
    flex-wrap:wrap;
    min-height:50px
    overflow-y: scroll;  /* Only vertical scroll */
    overflow-x: hidden;
   padding:30px;
}
h5
{
    color:#574a4a;
    padding:5px;
    text-transform:capitalize;
    position:relative;
    bottom:30px;
}
.activity
{
    position:relative;
    right:10px;
   
    background-color:blue;
    width:34px;
    
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
    height:34px;
    color:white;
    border:none;
    box-shadow:0px 0px 0px 2px #8cb0b0;
    
}
.textc
{
     position:relative;
    left:10px
}
